html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(0, 5%, 92%);
  word-break: break-word;
}